body{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.title svg{
    width: 16em;
    margin-top: 2em;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    margin-top: 0;
}
.content h2{
    margin-top: 0.7em;
    width: 55vw;
}
.language{
    display: flex;
    font-size: 0.7em;
    width: 55vw;
}
.language h1{
    color: rgb(127, 127, 127);
    background-color: #F2F2F2;
    flex: 1;
    padding: 0.5em;
    margin-right: 1em;
    margin-top: 0;
}
#lOne{
    color: #993366;
}
.language h2{
    display: flex;
    color:white;
    background-color: #993366;
    width: 2em;
    padding: 0.5em;
    margin-right: 1em;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    height: 2em;
    cursor: pointer;
}
.translation{
    display: flex;
}
.translation textarea{
    display: flex;
    color: rgb(127, 127, 127);
    background-color: #F2F2F2;
    margin-right: 1em;
    margin-top: 0;
    height: 10em;
    flex: 1;
    padding: 1em;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 0;
    resize: none;
}

@media (min-width: 900px) {
    .translation{
        flex-direction: column;
    }
    .translation textarea{
        margin-bottom: 1em;
    }
}